@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300;400&display=swap');

body {
    background: blanchedalmond;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
    font-family:'Poppins', sans-serif;
    
}

li {
    list-style-type: none;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

.linkedin {
    font-size: 20px;
    
}
a {
    text-decoration: none;
}



.serif {
    font-family: 'Gloock', serif;
}